body { padding: 10px; text-align: center; background-color: #CCFFFF; color: #003399; }

body .btn-search { margin: 0; padding: 2px 0; width: 200px; height: 30px; background-color: #99FFFF; color: #003399; border: 1px solid #003399; border-radius: 4px; }

body input { margin: 0; padding: 0; width: 200px; height: 30px; background-color: #99FFFF; color: #003399; border: 1px solid #003399; border-radius: 4px; }

body .tableCountries { text-align: center; }

body .tableCountries th { border: 1px solid #003399; text-align: center; border-radius: 4px; font-weight: 25px; }

body .tableCountries td { border: 1px solid #003399; text-align: center; border-radius: 4px; }
